<?xml version="1.0" encoding="UTF-8"?>
<phpunit
colors="false"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
stopOnFailure="true">
<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">	
    <file>../user.php</file>
    <file>../transaction.php</file>
    <file>../account.php</file>
    <file>../db_manager.php</file>
    <exclude>     
    </exclude>
  </whitelist>
</filter>
</phpunit>
